<h1 *ngIf="!newItem">Bearbeitung von: {{dish?.title}}</h1>
<h1 *ngIf="newItem">Neues Gericht</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="input-container">
    <label for="title">Neuer Gerichtname</label>
    <input
      id="title"
      type="text"
      placeholder="Produktname hier..."
      formControlName="title">
  </div>

  <div class="input-container">
    <label for="time">Neue Zubereitungsdauer</label>
    <input
      id="time"
      type="text"
      placeholder="1:30 h"
      formControlName="time">
  </div>

  <div class="input-container">
    <label for="difficulty">Schwierigkeit (1-10)</label>
    <input
      id="difficulty"
      type="number"
      placeholder="5"
      formControlName="difficulty">
  </div>

  <div class="input-container">
    <label for="recipe">Neues Rezept</label>
    <input
      id="recipe"
      type="text"
      placeholder="Zutaten in einen Topf geben..."
      formControlName="recipe">
  </div>

  <div class="button-container">
    <button class="button green" type="submit">Speichern</button>
    <button class="button red" (click)="dishListComponent.closeEditor()">Zurück</button>
  </div>

</form>

<div *ngIf="!newItem">
  <h3>Produkt hinzufügen</h3>

  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <select id="productId" formControlName="productId">
      <option *ngFor="let product of allProducts" value="{{product.id}}">{{product.title}}</option>
    </select>

    <div class="input-container">
      <label for="amount">Menge</label>
      <input
        id="amount"
        type="number"
        placeholder="500"
        formControlName="amount">
    </div>

    <div class="input-container">
      <label for="unit">Einheit</label>
      <input
        id="unit"
        type="text"
        placeholder="g"
        formControlName="unit">
    </div>

    <button class="button green" type="submit">Hinzufügen</button>
  </form>

</div>
